## .gitignore
## John Stanton-Geddes
## 2013-07-22

## Ignore ALL files except specified scripts and text files. This resolves problem with intermediate bioinformatic (...fastq.gz) being added when I don't want to track them 


# Ignore everything
*

# Don't ignore subdirectories, so we can recurse into them
!*/
# but ignore planning directory as these are random files kept locally...
planning/

# Don't ignore .gitignore
!.gitignore

# Don't ignore R, python, perl, bash scripts, text, latex and markdown files
!*.R
!*.Rmd
!*.Rsw
!*.py
!*.pl
!*.sh
!*.md
!*.txt
!*.tex

# Ignore everything in /data directories. Can keep data private in these folders, or also store intermediate results not to be tracked by git
# note the use of ** that matches 0 or more levels of subdirectory (since git 1.8.2)
projects/**/data
